__pycache__
database/__pycache__
helper/__pycache__
models/chat/__pycache__
models/permission/__pycache__
models/prompt/__pycache__
models/role/__pycache__
models/user/__pycache__
response/__pycache__
routes/__pycache__
.env
.idea
.vscode